<!DOCTYPE html>
<html>

<head>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"> -->
</head>

<body ng-app="myApp">

  <div class="container-fluid">
    <div class="row" ng-controller="myCtrl">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"  ng-repeat="add in adds" ng-cloak>
	    <div class="hovereffect">
	    	<div class="grid-heading">{{add.title}}</div>
	        <img class="img-responsive" src="{{add.banner}}" alt="" />
	        <div class="footer-notification">
	        	<p class="date-notification">Days Left: {{add.days_left}} </p>
	        	<p class="pull-right text-right">{{add.location}}</p>
	        </div>   
	        <div class="overlay">
	          <a href="#"><h2>Click</h2></a>
	            <p class="icon-links">
	              <a href="#">
	                <span class="fa fa-twitter"></span>
	              </a>
	              <a href="#">
	                 <span class="fa fa-facebook"></span>
	              </a>
	              <a href="#">
	                <span class="fa fa-instagram"></span>
	              </a>
	            </p>
	        </div>
	    </div>
	  </div>

    </div>
  </div>


  <script src="js/angular.js"></script>
  <script src="js/factories/resource.js"></script>
  <script src="js/controllers/controller.js"></script>
</body>

</html>
